NODE_ENV=production
PORT=3333
DATABASE_URL="mysql://user:password@your-rds-endpoint.amazonaws.com:3306/biblioteca"

# AWS RDS SSL Configuration (if using RDS)
# NODE_EXTRA_CA_CERTS=./global-bundle.pem
