@import 'tailwindcss';

@layer base {
  html {
    font-size: 16px;
  }

  body {
    font-family: var(--font-serif);
  }
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }
}

@layer components {
  .search-input {
    @apply w-full px-4 py-2 rounded-xs outline-none bg-(--text) text-(--background) font-medium text-ellipsis;
  }
}

:root {
  --background: #121212;
  --foreground: #0b0909;
  --fairground: #fff2d6;

  --text: #fff7e6;

  --button-active: #ffaa00;
  --button-text-active: #0b0909;

  --button-inactive: transparent;
  --button-text-inactive: #fff7e6;
}

[data-theme='light'] {
  --background: #fff7e6;
  --foreground: #ffe5b0;
  --fairground: #fff2d6;

  --text: #1f1a18;
}

.font-sans {
  font-family: var(--font-sans);
}

.font-serif {
  font-family: var(--font-serif);
}
